.filters-and-products {
  display: flex;
}

.filters {
  display: block;
  height: calc(100vh - 2rem);
  margin: 1rem;
  min-width: 14rem;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.filter-header {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
}

.filter-header > span {
  padding-bottom: 8px;
}

.filter-heading {
  font-size: 0.9rem;
}

.filter-price,
.filter-rating,
.filter-items,
.filter-categories,
.filter-price-range,
.filter-rating {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  row-gap: 0.5rem;
}

.small-text {
  cursor: pointer;
  font-size: 0.875rem;
}

.gray-text {
  color: #646464;
  display: inline;
  padding-left: 5px;
}

.rating-star {
  color: var(--star-color);
}

.product-cards {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin: 2rem;
  row-gap: 1.5rem;
  width: 100%;
}

.search-product-cards {
  width: 95vw;
}


.card-default-product {
  border-radius: 6px;
  cursor: pointer;
  width: 13rem;
  background: var(--light-color);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  box-sizing: border-box;
}

.card-default-product .card-img-icon-container .card-img-container {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-radius: 4px;
}

.card-default-product .card-content {
  color: var(--default-color);
  font-size: 0.85rem;
}

.card-default-product:hover {
  box-shadow: var(--default-shadow);
}

.card-button {
  margin: 0.4rem auto;
  position: relative;
  width: calc(100% - 1rem);
}

.card-content > span {
  text-decoration: none;
  color: var(--default-color);
}

.filled-wishlist-icon {
  color: var(--error-color);
  font-size: 1.4rem;
  position: absolute;
  right: 2px;
  top: 2px;
}

.wishlist-icon {
  color: var(--wishlist-gray-color);
  font-size: 1.4rem;
  position: absolute;
  right: 2px;
  top: 2px;
}

.card-default-product .card-header {
  font-size: 0.9rem;
  margin: 0 0 0 4px;
  padding: 0;
  color: var(--primary-color);
  font-weight: 600;
}

.card-default-product .card-img-icon-container {
  position: relative;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product-card-buttons {
  align-items: center;
  padding: 5px 0 0 0;
  justify-content: center;
}

.card-title {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--default-color);
  margin: 0 0 0 4px;
}

.card-badge {
  background-color: rgba(109, 40, 217, 0.8);
  height: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  padding: 0 6px;
  border-radius: 12px;
}
.mobile-filters {
  align-items: center;
  background-color: white;
  bottom: 0px;
  box-shadow: 0 0 2px 0 var(--disabled-color);
  display: none;
  height: 1.5rem;
  justify-content: space-around;
  padding: 8px;
  position: fixed;
  width: 100%;
  z-index: 7;
}

.mobile-filters > .mobile-filter-header {
  cursor: pointer;
}

.btn-no-decoration {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.btn-outOfStock {
  cursor: no-drop;
}

.btn-outOfStock:hover {
  background-color: unset;
  color: var(--primary-color);
}

.strikethrough {
  color: var(--disabled-color);
  text-decoration: line-through;
}

.offer {
  color: var(--primary-color);
}

.no-link-decoration,
.no-link-decoration:hover,
.no-link-decoration:active,
.no-link-decoration:visited,
.no-link-decoration:focus {
  text-decoration: none;
  color: var(--primary-color);
}

.search-header {
  margin-top: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.inline-flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.padding-top-4 {
  padding-top: 4rem;
}

.filter-items:last-child {
  padding-bottom: 2rem;
}

.disabled-cursor {
  cursor: not-allowed;
}

.page-btn {
  width: 4rem;
}

.page-number {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 5px;
  width: 1.6rem;
}
/* Media for hover */
@media only screen and (max-width: 640px) {
  .card-default-product:hover {
    box-shadow: unset;
  }

  .card-icon:hover {
    filter: unset;
    background-color: transparent;
    border-radius: unset;
  }

  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .filters {
    display: none;
  }

  .product-cards {
    column-gap: 1px;
    grid-template-columns: repeat(auto-fill, minmax(10.2rem, 1fr));
    margin: 1rem;
    row-gap: 0.5rem;
  }

  .card-default-product .card-img-icon-container .card-img-container {
    width: 100%;
    height: 10rem;
  }
  .card-default-product {
    border-radius: 5px;
    border: 1px solid var(--gray-color);
    box-shadow: unset;
    width: 10rem;
    height: auto;
    padding: 0.4rem;
  }

  .mobile-filters {
    display: flex;
  }

  .mobile-filters-form {
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 8;
  }
}
